[Unit]
Description=VCXWebApp

[Service]
ExecStart=/home/vagrant/vcx-vagrant/server/vcx-server.js
Restart=always
User=vagrant
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/vagrant/vcx-vagrant/server/

[Install]
WantedBy=multi-user.target