@font-face {
  font-family: "Hind";
  src: url("Hind/Hind-Regular.ttf");
}
@font-face {
  font-family: "Hind-Bold";
  src: url("Hind/Hind-Bold.ttf");
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  margin-left: 10px;
  /* font-family: "Hind"; */
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
img{
  margin:10px;
}
.flexroot{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}
.form {
  width:100%;
  margin-top: 40px;
  color: grey;
  font-size: 12px;
}
.form-left {
  margin-left: 400px;
  float: left;
}
.form-right {
  margin-right: 400px;
  float: right;
}
.form-left label, .form-right label {
  display: block;
}
#connection_name{
  padding:10px;
  border-radius:12px;
  background-color:rgba(100,0,100,.3);
}
.form-left input, .form-right input {
  width: 400px;
  height: 40px;
  outline: none;
  color: grey;
  border: 1px solid lightgray;
  border-radius: 4px;
}
.reg{
  width:100%;
  align-content: center;
  align-items: center;
}
.reg a{
  align-content: center;
  align-items: center;
}
.submit-button{
  background-color: #7EC0EE;
  color: white;
  width:200px;
  height:40px;
  border-radius: 4px;
  letter-spacing: 1px;
  font-family: "Hind-Bold";
  font-size: 14px;
  outline: none;
  margin-top:20px;
  margin-bottom:20px;
}
.submit-button:hover{
  color: #7EC0EE;
  background-color: white;
  cursor: pointer;
}

.generate-attributes {
  width: 200px;
  height: 40px;
  margin-top: 40px;
  color: white;
  background-color: #7EC0EE;
  border: 1px solid #7EC0EE;
  border-radius: 4px;
  letter-spacing: 1px;
  font-family: "Hind-Bold";
  font-size: 14px;
  outline: none;
}
.generate-attributes:hover {
  color: #7EC0EE;
  background-color: white;
}
.footer {
  width: 100%;
  position: relative;
  text-align: center;
  align-content: center;
  /* border-top: 1px solid lightgrey; */
}

.footer p {
  display: inline-block;
  color: grey;
}

.footer img {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
}
ul {
  text-decoration: none;
  list-style-type: none;
}
li{
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}
li input{
  width:75%;
  height:20px;
}
.instructions{
  font-size: 1.3em;
  align-content: center;
  text-align: center;
}
.loader {
  display: none;
  border: 8px solid lightgray;/* Light grey */
  border-top: 8px solid #a72866; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 10 auto;
  /* position: absolute; */
  left:130px;
  top:130px;
}
hr{
  border: 0;
  border-top: 0.1rem solid #f4f5f6;
  margin: 1.8rem 0;
}
a{
  margin-bottom: 6px;
  display: block;
  color:white;
  font-size: 18px;
  text-decoration: none;
  background-color:#86c044;
  padding:8px;
  border-radius: 6px;
  border:1px solid black;

}a:visited{
  text-decoration: none;
}a:hover{
  background-color:white;
  color:rgba(220,0,0,.8);
}
h3{
  border-radius: 6px;
  color:white;
  padding:8px;
  /* height:30px; */
  /* width: 80%; */
  background-color: rgba(12,99,100,.56);
}
/* button{
  padding:10px;
  font-size:22px;
  height:80px;
  background-color:#86c044;
  color:white;
  border-radius: 12px;
  border:1px solid black;

}button:hover{
  background-color:white;
  cursor: pointer;
  color:rgba(220,0,0,.8);
} */

.default-button{
  margin-right:14px;
  width:100px;
  height:40px;
  font-size: 14px;
  border-radius: 8px;
}.default-button:hover{
  background-color: rgba(222,222,222,.77);
}
.selection{
  text-align-last: center;
  border-radius: 6px;
  padding:10px;
  color:white;
  background-color: #86c044;
}
.dconnection{
  height:50px;
  border-radius: 5px;
  padding:8px;
}
#mainx{
  align-content: center;
}
#qr{
  /* width:300px;
  height:300px; */
  width:300px;
  height:300px;
  border:2px solid rgba(0,0,0,.2);
  border-radius: 12px;
}
#message{
  /* display: inline; */
  font-size:12px;
  color:rgba(220,0,0,.8);
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loading {
  animation: animate 0s 4s forwards;
  visibility: visible;
}
.normal{
  height:auto;
  font-size: 14px;
  background-color: white;
}
input[type=text], select {
  font-size: 14px;
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 100%;
  background-color: #86c044;
  color: white;
  padding: 6px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #86c044;;
}
.attr{
  margin-top:6px;
  margin-bottom:6px;
  border:1px solid black;
  width:50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.btn-proof{
  width: 50%;
  padding:10px;
  font-size:22px;
  height:80px;
  background-color:rgba(220,0,0,.8);
  color:white;
  border-radius: 12px;
  border:1px solid black;

}.btn-proof:hover{
  background-color:white;
  cursor: pointer;
  color:rgba(220,0,0,.8);
}
.opener{
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  transform: scale(5, 5);
}
.validator{
  padding:6px;
  text-align: center;
  height:40px;
  width:320px;
  border:1px solid black;
  border-radius: 8px;
  background-color: cornsilk;
  color:black;
}